.blog-top-section {
  padding-top: 10rem;
}

.overlay-4 {
  position: absolute;
  top: 30%;
  left: 6%;
  border-radius: 500px;
  opacity: 0.2;
  width: 600px;
  height: 600px;
  transform: rotate(2.801deg);
  background: linear-gradient(
      234deg,
      rgba(255, 217, 128, 0.9) 2.77%,
      rgba(255, 179, 0, 0.9) 30.14%,
      rgba(203, 243, 240, 0.9) 57.19%,
      rgba(46, 196, 182, 0.9) 96.05%
    ),
    linear-gradient(
      117deg,
      rgba(253, 227, 186, 0) -9.81%,
      rgba(255, 121, 0, 0.5) 23.15%,
      rgba(123, 44, 191, 0.5) 58.71%,
      rgba(36, 0, 70, 0) 86.29%
    );
  filter: blur(50px);
  z-index: -1;
}

.blog-tag-row,
.blog-filter-row {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
}

.blog-category-tag-row {
  padding: 1rem 0;
}

.blog-tag,
.blog-category-tag,
.blog-filter-tag {
  display: inline-flex;
  color: #000;
  text-align: center;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 500;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.6);
  padding: 8px 20px;
  &:hover {
    cursor: pointer;
    background: #ff9500;
  }
}

.blog-filter-row {
  gap: 1rem;
}

.blog-img {
  width: 100%;
  height: 280px;
  overflow: hidden;
  border-radius: 24px;
}

.wander-blog-heading {
  color: #000;
  font-family: "Manrope", sans-serif;
  font-size: 28px;
  font-weight: 500;
  letter-spacing: -1.24px;
  margin-bottom: 0.6rem;
}

.wander-blog-para {
  color: rgba(0, 0, 0, 0.5);
  font-family: Helvetica-font;
  font-size: 14px;
  font-weight: 400;
}

.blog-category-tag-row .blog-category-tag {
  font-size: 14px;
  padding: 6px 16px;
}

.main-blogs-row {
  margin-left: 5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.6rem;
}

.blog-owner {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.blog-owner .blog-owner-dp img {
  width: 30px;
}

.blog-owner-name {
  color: #000;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 500;
}

/* blog-categroy section */

.blog-category-section {
  padding: 6rem 0;
}

.blog-prev,
.blog-prev2 {
  margin-right: 2rem;
}

.blog-card:hover {
  cursor: pointer;
}

.blog-slider .blog-card,
.blog-slider2 .blog-card {
  padding: 2rem 0;
}

.blog-next img,
.blog-next2 img {
  transform: rotate(180deg);
}

p.blog-category-name {
  color: rgba(37, 37, 37, 0.5);
  font-family: Manrope;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.6px;
}

.blog-slider .slick-slide,
.blog-slider2 .slick-slide {
  margin: 0 27px;
}

/* the parent */
.blog-slider .slick-list,
.blog-slider2 .slick-list {
  margin: 0 -27px;
}

.blog-slider-section {
  padding-bottom: 3rem;
}

@media (max-width: 575.98px) {
  .main-blogs-row {
    margin-left: 0;
    margin-top: 2rem;
    grid-template-columns: 1fr;
  }

  .overlay-4 {
    top: 10%;
    left: 0%;
    width: 300px;
    height: 300px;
  }

  .blog-slider-section .wander-slider-arrows {
    display: flex;
    right: 36%;
    bottom: -30px;
  }

  .blog-slider-section {
    padding-bottom: 6rem;
  }
}
